---

name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  workflow_dispatch: { }

jobs:
  build:
    runs-on: ubuntu-latest
    name: CI

    strategy:
      fail-fast: false
      matrix:
        node-version: [16.x, 14.x, 12.x]

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 1

      - name: Setup Node ${{ matrix.node-version }}
        uses: actions/setup-node@v3.0.0
        with:
          always-auth: false
          node-version: ${{ matrix.node-version }}

      - name: Start Solr
        run: npm run solr:current:start

      - name: Run npm install
        run: npm install

      - name: Print Solr logs
        run: npm run solr:current:logs

      - name: Sleep for 3 seconds
        uses: kibertoad/wait-action@1.0.1
        with:
          time: '3s'

      - name: Run Tests
        run: npm run test:current
        env:
          CI: true

      - name: Stop Solr
        run: npm run solr:current:stop
